body {
    background-color: #000000;
	height: 100vh;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	margin-left: 15px;
	margin-right: 15px;
	max-width: 2400px;
	min-width: 385px;
}
#navbar a:hover{
	color: #ffb0bd;
	text-decoration: none;
}
.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	margin-top: 50px;
}
.about h1{  
	font-size: 4em;
	font-weight: 200;
	text-align: center;
	margin-bottom: 150px;
}

.about h2{
	font-size: 2em;
	font-weight: 400;
	line-height: 100px;
	color: #e76200;
	text-align: left;
	margin-left: 20px;
}
.about p{
	font-size: 2em;
	font-weight: 200;
	line-height: 1.5em;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 150px;
}
.about h3{
	font-size: 2em;
	font-weight: 200;
	color: #8e8d8d;
	text-align: center;
}
.about h4{
	font-size: 2em;
	font-weight: 200;
	text-decoration: none;
	color: #8e8d8d;
	text-align: center;
}
span.orange{
	color: #E76200;
}
#content-wrapper{
	width: 100%;
	height: auto;
	position: relative;
	z-index: 1;
}	