section {
  margin-top: 10em;
}

#wallet h4 {
  margin-bottom: 5em;
}

#palette h3 {
  margin-bottom: 4em;
}

#portfolio h1 {
	font-size: 2.5em;
	font-weight: 200;
	letter-spacing: .5em;
  margin-top: 3em;
}

#portfolio p {
	font-size: .75em;
	font-weight: 200;
  margin-bottom: 5em;
}

#animation {
	overflow: hidden;
}
.orange {
  fill: url(#od);
}
.pink {
  fill: url(#pd);
}

p {
	font-size: 1em;
	font-weight: 200;

}

/* 0123456789 Animation */
#typing h2 {	
	font-size: 5em;
	font-weight: 200;
	text-decoration: none;
	letter-spacing: .5em;
	padding: 20px;
} 

#typing {
  overflow: hidden;
	height: 8em;
}

h3 {
	font-size: 2em;
	font-weight: 200;
}

#book {
	border: 15px solid #FFB0BD;
  margin: 2em;
}

h6 {	
	font-size: 1.5em;
	font-weight: 200;
	text-decoration: none;
	color: #e76200;
}

#palette img {
	padding: 1em;
}

#color {
	padding-bottom: 2em;
}

#slogan {
	padding: 1em;
	font-size: 3em;
	font-weight: 200;
	color: #e76200;
}

/* Resize on small screens */
@media screen and (max-width: 940px) {
  #typing h2 {	
    font-size: 2em;
    font-weight: 200;
    text-decoration: none;
    letter-spacing: .1em;
    padding: 20px;
  }

	#slogan {
		font-size: 1em;
	}

	header p {
		letter-spacing: .2em;
	}
}

/* VERTICAL ANIMATION */
/* #horizontal-anim-wrapper {
	display: flex;
  justify-content: space-between;
  flex-direction: column;
} */

/* row 1 */
#text1a {
	position: absolute;
	top: -85px;
	left: 10%;	
}
#text1b {
	position: absolute;
	top: -85px;
	left: 310%;
}
#text1c {
	position: absolute;
	top: -85px;
	left: 610%;		
}

/* row 2 */
#text2a {
	position: absolute;
	top: 35px;
	left: 10%;	
}
#text2b {
	position: absolute;
	top: 35px;
	left: 310%;
}
#text2c {
	position: absolute;
	top: 35px;
	left: 610%;	
}

/* row 3 */
#text3a {
	position: absolute;
	top: 150px;
	left: 10%;	
}
#text3b {
	position: absolute;
	top: 150px;
	left: 310%;
}
#text3c {
	position: absolute;
	top: 150px;
	left: 610%;	
}

/* row 4 */
#text4a{
	position: absolute;
	top: 275px;
	left: 10%;	
}
#text4b{
	position: absolute;
	top: 275px;
	left: 310%;
}
#text4c{
	position: absolute;
	top: 275px;
	left: 610%;
}
/* END HORIZONTAL ANIMATION */
