.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section {
  margin-top: 5em;
}

#static-imgs img {
  padding: 1em;
}

#packaging img {
  padding: .75em;
}

#marketing img {
  padding: 1em;
}



h1 {
	font-size: 3em;
	font-weight: 200;
}

h2 {
	font-size: 2em;
	font-weight: 200;
	color: #ffffff;
}

p {
	font-size: .5em;
	font-weight: 200;
	letter-spacing: .5em;
}

#portfolio-item {
  background-color: #9ABDCE;
  
}

#portfolio-item1 {
  background-color: #6A90A8;	
}

#portfolio-item2 {
  background-color: #456676;
}

#portfolio-item3 {
  background-color: #5C4C2F;	
}

#portfolio-item4 {
  background-color: #9B886B;
}

#portfolio-item5 {
  background-color: #E8E9CB;	
}

#portfolio-item6 {
  background-color: #E5756C;	
}

#portfolio-item7 {
  background-color: #A52525;	
}

#panels img {
  padding: .5em;
}

.color  {
  padding: 1em;
  padding-bottom: 2em;
}

header {
  padding-top: 5em;
}

header h1 {
  padding-bottom: 2em;
}

#spinners {
  width: 95%;
}

#spinners img {
  padding: .25em;
}

/* LOADING */
#load {
  position:fixed;
  z-index:9999;
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
  