.park-bk{
	background-color: #fff;
}

.ingredient{
	background-color: #c0f9ff;
}

#featured-text h2{
	font-weight: 200;
	color:#0A9FAF;
	font-size: 1.5em;
}
#featured-text h3{
	font-weight: 200;
	color:#0A9FAF;
	font-size: 1.5em;
	
}

#shop{
	color: #000;
}

#shop p{
	font-size: 1em;
	font-weight: 200;
}
#shop h5{
	font-size: 2em;
	font-weight: 400;
}

/* #color-palette {
	border-top: solid 2px #008949;
} */

#color-caption {
	color: #000;
	font-size: 1em;
	font-weight: 200;
	padding: 1em;
	padding-bottom: 2em;
}

h4{
	font-size: 2em;
	font-weight: 200;
	color: #000;
}

h5 {
  color: black;
  font-size: 2em;
  font-weight: 200;
}

main {
  background-color: white;
}

#phone, #subscribe {
	filter: drop-shadow(4px 4px 4px #666666);
	-webkit-filter: drop-shadow(4px  4px 4px #666666);
}

#cookies h6 {
  font-size: 2em;
  font-weight: 400;
  color: #000;
	padding-top: 2em;
	color: #e3da5e;
}

#cookies {
	padding-bottom: 2em;
	
}

section {
  border-top: solid 2px #008949;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	font-size: 2.5em;
	font-weight: 400;
  color: #ffffff;
}

#motion {
	padding-top: 5em;
	/* margin-bottom: -20em; */
	/* z-index: 0; */
	/* position: relative; */
	overflow: hidden;
}

#sun{
	transform: translate(-100%, 70%);
	/* width: 25%;
	z-index: 10;
	position: relative; */

}
#building{
	transform: translate(20%, 0%);
	/* width: 40%;
	z-index: 20;
	position: relative; */
}
 #logo{
	transform: translate(0%, -60%);
	/* width: 70%;
	z-index: 30;
	position: relative; */
}
#tag{
	transform: translate(0%, -100%);
	/* width: 70%;
	z-index: 40;
	position: relative; */
}

@media screen and (max-width: 940px) {
  #cookies h6 {
		font-size: 1.25em;
	}

	#motion {
		padding-top: 0em;
	}

	#sun{
		transform: translate(-100%, 70%);
		width: 30%;
		/* z-index: 10; */
		/* position: relative; */
	
	}
	#building{
		transform: translate(20%, 0%);
		width: 70%;
		/* z-index: 20; */
		/* position: relative; */
	}
	 #logo{
		transform: translate(0%, -60%);
		width: 70%;
		/* z-index: 30;
		position: relative; */
	}
	#tag{
		transform: translate(0%, -100%);
		width: 70%;
		/* z-index: 40; */
		/* position: relative; */
	}	
}