form input, textarea, button {
  padding: 1em;
  margin: 0.25em;
}

header {
  padding: 8em;
}
h1 {
  padding-bottom: 0.5em;
}

h2 {
  padding-bottom: 4em;
}

h3 {
  padding: 4em;
}

#social-media {
  padding-top: 4em;
}

form input {
  background-color: aqua;
}

textarea { 
  background-color:aqua !important;
}