#mock-page {
  background-color: #93d0d3;
}

#categories, #insta {
  background-color: white;
  color: black;
}

main {
  background-color: white;
  color: black;
}

header {
  margin-top: 5em;
  
}

header p {
  margin-top: 3em;
  margin-bottom: 5em;
}

section {
  border-top: solid 1px #7a3b29;
  /* padding-top: 1em; */
  /* margin-bottom: 5em; */
}

/* Fonts */
h1 {
	font-size: 3em;
	font-weight: 200;
	color: #fff;
} 

h2 {
	font-size: 1em;
	font-weight: 200;
	word-spacing: 7em;
	letter-spacing: .5em;
	color: #7a3b29;
}

h3 {
	font-size: 3em;
	font-weight: 400;
	color: #7a3b29;
}

h4 {
	font-size: 1.5em;
	font-weight: 400;
	color: #d99083;
}

h5 {
	font-size: 3em;
	font-weight: 400;
	color: #7a3b29;
}

p {
	font-size: .5em;
	font-weight: 200;
	color: #fff;
	letter-spacing: .5em;
}

/* FANCY BOXES */
.box{
	position: relative;
	width: 325px;
	height: 250px;
	/* margin-top: 25px;
	margin-left: 30px; */
	overflow: hidden;
	transition: 0.5s;
}

.box:hover{
	z-index: 1;
	transform: scale(1.25);
	box-shadow: 0 25px 40px rgba(0,0,0, .5);
}

.box .imgBx{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box .imgBx:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: #63989e;
	mix-blend-mode: multiply;
	opacity: 0;
	transition: 0.5s;
}

.box:hover .imgBx:before{
	opacity: 1;
}

.box .imgBx img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.box .content{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  /* padding: 20px; */
  align-items: flex-end;
}

.box .content  h6{
	color: #fff;
	transition: 0.5s;
	text-transform: uppercase;
	/* margin-bottom: 5px; */
	font-size: 1.5em;
	font-weight: 400;
	transform: translateY(200px);

}

.box:hover .content h6{
	transform: translateY(0);
	transition-delay: 0.6s;
}

.box .content p{
  color: #fff;
  font-size: 1em;
  transition: 0.5s;
  transform: translateY(200px);
}

.box:hover .content p{
	transform: translateY(0);
	transition-delay: 0.8s;
}

#mobile img {
  padding: 1em;
}

#dual-img img {
  padding: 1em;
}

h8 {
  color: #fff;
  transition: 0.5s;
  padding: .5em;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 400;
}