section {
  margin-top: 10em;
}

#wallet h4 {
  margin-bottom: 5em;
}

#palette h3 {
  margin-bottom: 4em;
}

/* body {
    background-color: #000;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	max-width: 1920px;
	min-width: 375px;
	margin-left: 0px;
	margin-right: 15px;
} */

/* #navbar a{
	display: block;
	text-align: center;
	font-size: 1.75em;
	font-weight: 200;
	text-decoration: none;
	color: #fff;
} */
/* #navbar a:hover{
	color: #ffb0bd;
} */
#portfolio h1{
	font-size: 2.5em;
	font-weight: 200;
	letter-spacing: .5em;
  margin-top: 3em;
}
#portfolio p{
	font-size: .75em;
	font-weight: 200;
  margin-bottom: 5em;
}

/* .image-container1{
	width: 600px;
	height: 501px;
	margin-left: -40px;
	margin-right: auto;
	margin-top: 75px;
	margin-bottom: 100px;
} */
/* p1{
	font-size: 1em;
	font-weight: 200;
	text-align: center;
	float: right;
	margin-left: 630px;
	padding: 5px;
	margin-top: 50px;
	display: none;
} */
#animation{
	/* position: absolute; */
	/* width: 50%; */
	/* height: 501px;
	display: block;
	align-items: center;
	margin-left: 75px;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 50px; */
	overflow: hidden;
}
.orange {
  fill: url(#od);
}
.pink {
  fill: url(#pd);
}
#text{
	position: relative;
  top: 0;
  left: 0;
	left: 10%;
  z-index: -100;
}
/* 
.foo {
  width: 100%;
  height: auto;
  align-items: center;
  margin-top: 0px;
} */

/* #text1{
	position: absolute;
	left: 310%;
}
#text2{
	position: absolute;
	left: 610%;		
}
#text3{
	position: absolute;
	left: 10%;	
} */
/* #text4{
	position: absolute;
	top: 35px;
	left: 310%;
} */

/* #text5{
	position: absolute;
	top: 35px;
	left: 610%;	
} */
/* #text6{
	position: absolute;
	top: 150px;
	left: 10%;	
} */
/* #text7{
	position: absolute;
	top: 150px;
	left: 310%;
} */

/* #text8{
	position: absolute;
	top: 150px;
	left: 610%;	
} */
/* #text9{
	position: absolute;
	top: 275px;
	left: 10%;	
} */
/* #text10{
	position: absolute;
	top: 275px;
	left: 310%;
} */
/* #text11{
	position: absolute;
	top: 275px;
	left: 610%;
} */
/* .container-fluid{ 
	width: 100%;
	height: 500px;
	margin-left: 0;
	margin-right: auto;
	margin-top: 100px;
	position: relative;
} */
/* .row{
	width: 100%;
	height: auto;
	margin-top: 20px;
	align-items: center;
	justify-content: center;
} */
p {
	font-size: 1em;
	font-weight: 200;
	text-decoration: none;
	display: block; 
	text-align: center;
	margin-top: 25px;
	margin-left: 12px;
	margin-right: auto;

}
/* #image{
	width: 100%;
	height: auto;
	position: relative;
	margin-top: 2px;
	margin-left: 2px;
	margin-right: auto;
} */
/* .container-fluid1{
	width: 100%;
	height: 1151px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 35px;
	position: relative;
} */
/* .row1{
	width: 100%;
	height: auto;
	align-items: center;
	margin-top: 0px;
} */
/* .row2{
	width: 100%;
	height: auto;
	align-items: center;
	margin-top: -11px;
	margin-left: auto;
	margin-right: auto;
} */
/* .row3{
	width: 100%;
	height: auto;
	align-items: center;
	margin-top: -14px;
} */
/* #{portfolio-item}1{
	width: 100%;
	height: auto;

} */
/* #portfolio-item2 {
    width: 100%;
	height: auto;

} */
/* .container{
	width: 100%;
	height: auto;
	margin-top: 150px;
	margin-bottom: 75px;
	margin-left: 20px;
	margin-right: auto;
	text-align: center;
	overflow: hidden;
} */

/* 0123456789 Animation */
#typing h2{	
	font-size: 5em;
	font-weight: 200;
	text-decoration: none;
	letter-spacing: .5em;
	padding: 20px;
} 

#typing {
  overflow: hidden;
}

/* Resize on small screens */
@media screen and (max-width: 940px) {
  #typing h2{	
    font-size: 3em;
    font-weight: 200;
    text-decoration: none;
    letter-spacing: .1em;
    padding: 20px;
  } 
}


h3{
	font-size: 2em;
	font-weight: 200;
}
/* .container-fluid2{
	width: 100%;
	height: 800px;
	position: relative;
	align-items: center;
	text-align: center;
	margin-top: 400px;	
} */
/* .row4{
	width: 100%;
	height: auto;	
} */
/* .caption-center{
	color: #ffffff;
	font-size: 1em;
	font-weight: 200;
	position: absolute;
	margin-top: 50px;
	margin-left: 112px;
	transform: translate(-50%, -50%);
} */
/* #swatch{
	align-items: center;
	max-width: 100%;
	margin-top: 50px;
	margin-left: 9%;
	margin-right: auto;
} */
/* .container-fluid3{
	max-width: 100%;
	height: 600px;
	position: relative;
	align-items: center;
	text-align: center;
	margin-top: -200px;	
} */
/* .row5{
	width: 100%;
	height: auto;
	
} */
/* #portfoliofont{
	min-width: 100%;
	height: auto;
	padding-top: 20px;
	padding-bottom: 20px;
} */
/* #lightbulb{
	max-width: 100%;
	height: auto;
	margin-top: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
} */
/* .caption1{
	font-size: 1.5em;
	font-weight: 200;
	color: #E76200;
	text-align: center;
	margin-top: 50px;
	margin-left: 20px;
	letter-spacing: 0;

} */

/* .container-fluid4{
	width: 100%;
	height: 730px;
	position: relative;
	align-items: center;
	text-align: center;
	margin-top: 200px;
} */
/* .row6{
	width: 100%;
	height: 730px;
	margin-top: 0;
} */
/* #cards{
	max-width: 100%;
	height: auto;
	padding-top: 20px;
	padding-bottom: 20px;
} */
/* h4{
	font-size: 1.5em;
	font-weight: 200px;
	text-align: center;
	text-decoration: none;
	margin-top: 65px;
	letter-spacing: 0;
} */
/* #wallet{
	max-width: 100%;
	height: auto;
	margin-top: 75px;
	padding-top: 20px;
	padding-bottom: 20px;
} */
/* .container-fluid5{
	width: 100%;
	height: 1275px;
	position: relative;
	align-items: center;
	text-align: center;
	margin-top: 125px;
} */
/* .row13{
	width: 100%;
	height: auto;
	margin-top: 0;
} */
#book{
	border: 15px solid #FFB0BD;
  margin: 2em;
}
/* #content{
	max-width: 100%;
	height: auto;
} */
/* h5{
	font-size: 2em;
	font-weight: 200;
	text-decoration: none;
	color: #ffffff;
	display: block;
	text-align: center;
	margin-left: -14px;
	margin-right: auto;
	top: 0;
} */
/* .container-fluid6{
	width: 100%;
	height: 600px;
	position: relative;
	align-items: center;
	text-align: center;
	margin-top: 125px;
} */
/* .row13{
	width: 100%;
	height: auto;
	margin-top: 0;
} */
/* #phone{
	max-width: 100%;
	height: auto;
	margin-top: 100px;
	margin-bottom: 100px;

} */
/* #hand{
	max-width: 100%;
	height: auto;
	margin-top: 175px;

} */
h6{	
	font-size: 1.5em;
	font-weight: 200;
	text-decoration: none;
	color: #e76200;
}

/* #content-wrapper{
		position: relative;
		z-index: 1;	
	} */

/*-------------------------
Media Queries 375
---------------------------*/


/* @media screen and (max-width: 375px) {
		#navbar{
			display: flex;
	}
		#navbar a{
			flex: 1;
		}

	p1{
		display: none;
	}
	#portfolio p{
		margin-left: -1px;
		font-size: 20px;
	}
	
	.image-container1 #animation{
		margin-left: -115px;
	}
	.container-fluid{
		max-width: 100%;	
	}
	.row{
		margin-left: -26px;
	}
	#image{
		margin-left: 11px;
	}
	.container-fluid1{
		margin-left: 0px;
	}
	.row2{
		margin-top: -7px;
	}
	.row3{
		margin-top: -7px;
	}
	.container{
		margin-left: -10px;	
		margin-top: -715px;
	}
	#typing h2{	
		font-size: 2em;
		margin-top: 20px;
		margin-left: -4px;
	} 
	h3{
		font-size: 2em;
		margin-top: -300px;
		margin-left: -16px;
		margin-right: auto;
	
	}
	#swatch{
		margin-left: -5%;
	}
	.caption-center{
		display: none;
	}
	.container-fluid3{
		margin-top: -530px;	
	}
	.caption1{
		margin-left: 5px;
		margin-top: 10px;
	}
	#portfoliofont{
	    margin-top: 50px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.container-fluid4{
		margin-top: -75px;
	}
	h4{
		font-size: 1em;
	}
	.container-fluid5{
		max-width: 100%;
		margin-top: -201px;
	}
	#book{
		max-width: 100%;
		border: 6px solid #FFB0BD;
		padding: 0;
	
	}
	#content{
		margin-top: 53px;
	}
	.container-fluid6{
		
		margin-top: -740px;
	}
	.process h6{	
		margin-top: -200px;

	}
	
} */

/*-------------------------
Media Queries 768
---------------------------*/


/* @media screen and (max-width: 768px) {
	#navbar{
		display: flex;
}
	#navbar a{
		flex: 1;
	}
	p1{
		display: none;
	}
	.image-container1{
		margin-left: 7px;
	}
	#image{
		margin-left: 22px;
	}
	.container-fluid1{
		max-width: 100%;
		margin-left: 8px;	

	}
	.container{
		max-width: 100%;
		margin-top: -300px;	
	}
	#typing h2{	
		font-size: 2em;
		margin-top: 20px;
		display: block;
		margin-left: -4px;
	} 
	.caption-center{
		display: none;
	}
	.container-fluid3{
		max-width: 100%;
		margin-top: -480px;	
	}
	.container-fluid4{
		width: 100%;
		margin-top: -40px;
	}
	.container-fluid5{
		max-width: 100%;
		margin-top: -201px;
	}
	#book{
		border: 6px solid #FFB0BD;
		padding: 0;
	
	}
	#content{
		max-width: 100%;
		height: auto;
		margin-top: 53px;
	}
	.container-fluid6{
		width: 100%;
		margin-top: -500px;
	}
	.process h6{	
		margin-top: 50px;

	}
} */


/*-------------------------
Media Queries 900
---------------------------*/


/* @media screen and (max-width: 900px) {
	#navbar{
		display: flex;
	}
	#navbar a{
		flex: 1;
	}
	.image-container1{
		margin-left: -50px;
	}
	p1{
		display: none;
	}
	.container-fluid{
		max-width: 100%;
	}
	#image{
		margin-left: 22px;
	}
	.container-fluid1{
		max-width: 100%;
		margin-left: 10px;
	}
	#typing h2{	
		font-size: 2.5em;
		margin-top: -27px;
		display: block;
		margin-left: 150px;
	} 
	.container-fluid2{
		width: 100%;
	}
	.caption-center{
		margin-left: 78px;
	}
	.container-fluid3{
		max-width: 100%;
		margin-top: -395px;	
	}
	.container-fluid4{
		width: 100%;
		margin-top: -40px;
	}
	.container-fluid5{
		max-width: 100%;
		margin-top: -201px;
	}
	#book{
		max-width: 100%;
		border: 10px solid #FFB0BD;
		padding: 0;
		margin-top: 75px;
	}
	#content{
		max-width: 100%;
		height: auto;
		margin-top: 53px;
	}
	.container-fluid6{
		width: 100%;
		margin-top: -150px;
	}
	.process h6{	
		margin-top: 150px;

	}
} */

/*-------------------------
Media Queries 901-1400
---------------------------*/


/* @media screen and (max-width: 1400px) and (min-width: 901){
	#navbar{
		display: flex;
	}
	#navbar a{
		flex: 1;
	}

	.image-container1{
		margin-left: 78px;
	}
	.container-fluid{
		max-width: 100%;
	}
	#image{
		margin-left: 22px;
	}
	.container-fluid1{
		max-width: 100%;
		margin-left: 10px;
	}
	#typing h2{	
		font-size: 2.5em;
		margin-top: -27px;
		display: block;
		margin-left: 150px;
	} 
	.container-fluid2{
		width: 100%;
	}
	.caption-center{
		margin-left: 70px;
	}
	.container-fluid3{
		max-width: 100%;
		margin-top: -480px;	
	}
	.container-fluid4{
		width: 100%;
		margin-top: -40px;
	}
	.container-fluid5{
		max-width: 100%;
		margin-top: -201px;
	}
	#book{
		max-width: 100%;
		border: 12px solid #FFB0BD;
		padding: 0;
		margin-top: 75px;
	}
	#content{
		max-width: 100%;
		height: auto;
		margin-top: 53px;
	}
	.container-fluid6{
		width: 100%;
	}
	#phone{
		margin-top: 200px;
	}
	#hand{
		margin-top: 200px;
	}
	.process h6{	
		margin-top: 300px;

	}
} */
